.container {
    width: 40vw;
    height: 300px;
    margin-left: 2em;
    margin-top: 1em;
    padding: 0.5em;
    border-radius: 0.75em;
    background-color: white;
    box-shadow: 8px 8px 16px #b3b3b3;
    display: flex;
    justify-content: space-evenly;
}