.imgContainer {
    width: 36%;
    height: 98%;
    overflow: hidden;
}

.img {
    max-width: 100%;
    max-height: 100%;
}

.info {
    width: 60%;
    overflow:hidden;
}

.subtitle {
    color: gray;
}

.callout {
 color: #834DB7;
 overflow-y: scroll;
}