.primary {
    color: #7FAAE4;
    display: block;
}

.secondary {
    color: #834DB7;
}

.main {
    margin:auto;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.5em;
    width: 80%;
    font-size: 4vh;
    font-weight: bold;
    border-radius: 0.25em;
    background-color: white;
    box-shadow: 5px 5px 10px #b3b3b3;
}